<component name="libraryTable">
  <library name="Spring-4.3.18.RELEASE" type="spring">
    <properties version="4.3.18.RELEASE" />
    <CLASSES>
      <root url="file://$PROJECT_DIR$" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/smoker/src/main/java" />
    </SOURCES>
  </library>
</component>